@charset "UTF-8";
/* Main CSS Document */

body {
  padding: 0px;
  margin: 0px;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  background-color: #E8E9EB
}


/* NAVIGATION: */
/* Add a black background color to the top navigation */
nav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
  font-family: 'Dancing Script', cursive;
  float: left;
  display: block;
  color: #F5F5F5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: grey;
  color: #E7DFDD;
}

.emphasis {
  background-color: #d9d9d9;
}


.centertext {
  text-align: center;
}

.container {
  /*prevents overflow*/
  margin: 0;
  overflow: hidden;
}

.mainHeading {
  font-family: 'Dancing Script', cursive;
}
